.domlint-ui {
  all: initial;
  position: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 14px;
  background: #222;
  color: #fff;
  z-index: 9999999;

  --domlint-bad: #da0e0e;
  --domlint-good: #008600;
  --domlint-okay: #eb7900;
}

.domlint-ui-toolbar {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: grab;
  user-select: none;
  padding: 8px;
}

.domlint-ui-toolbar:active {
  cursor: grabbing;
}

/* when dragging toolbar, append an invisble area to avoid losing target */
.domlint-ui-toolbar:active::before {
  content: ' ';
  display: block;
  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
}

.domlint-ui-button {
  border-radius: 4px;
  border: 0;
  padding: 4px 8px;
  background-color: #06f;
  color: #fff;
  cursor: pointer;
}

.domlint-ui-button:hover {
  filter: brightness(90%);
}

.domlint-ui-button:active {
  filter: brightness(80%);
}

.domlint-ui-score {
  font-size: 16px;
  display: flex;
  gap: 8px;
}

.domlint-ui-score-value {
  font-weight: bold;
}

.domlint-ui-score-value-good {
  color: var(--domlint-good);
}

.domlint-ui-score-value-okay {
  color: var(--domlint-okay);
}

.domlint-ui-score-value-bad {
  color: var(--domlint-bad);
}

.domlint-ui-report {
  height: 300px;
  min-width: 100%;
  min-height: 100px;
  overflow: auto;
  padding: 8px;
  resize: both;
}

.domlint-ui-element {
  border-bottom: 1px solid #333;
  padding: 12px 0;
}

.domlint-ui-selector {
  color: #08e;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 4px;
}

.domlint-ui-attribute-list {
  padding-left: 24px;
  margin-bottom: 4px;
}

.domlint-ui-attribute-name {
  color: #ffd503;
}

.domlint-ui-attribute-value-bad {
  color: var(--domlint-bad);
}

.domlint-ui-value + .domlint-ui-value::before {
  content: ' | ';
}

.domlint-ui-color-box {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  vertical-align: -1px;
}

.domlint-ui-attribute-expect {
  color: #aaa;
}

.domlint-ui-highlight {
  position: fixed;
  outline: 3px solid #d400ff;
  background: #d400ff11;
  left: -99px;
  top: -99px;
  z-index: 999999;
  pointer-events: none;
  transition: all ease-in-out 0.3s;
}
